<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart acceptSwapStart fa fa-check-circle grey"></i>
    <i class="allProgress acceptSwapProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone acceptSwapDone fa fa-check-circle hide"></i>
    <i class="allRetry acceptSwapRetry fa fa-check-circle hide grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('shared.accept_bid')%></h4>
    <p class="para-color"><%= t('shared.transaction_with_wallet')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart acceptSwapStart disabledLink grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="allProgress acceptSwapProgress disabledLink hide"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone acceptSwapDone disabledLink hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry acceptSwapRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>