<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart approveSwapStart fa fa-check-circle grey"></i>
    <i class="allProgress approveSwapProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone approveSwapDone fa fa-check-circle hide"></i>
    <i class="allRetry approveSwapRetry fa fa-check-circle grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.show.approve')%></h4>
    <p class="para-color contain-flower"><%= t('collections.show.approve_swap')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart approveSwapStart disabledLink grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="allProgress approveSwapProgress disabledLink hide"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone approveSwapDone hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry approveSwapRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>
