<div class="follow-step-block">
  <div class="follow-step-icon">
    <i class="allStart signSwapStart fa fa-check-circle grey"></i>
    <i class="allProgress signSwapProgress fa fa-spinner fa-pulse hide"></i>
    <i class="allDone signSwapDone fa fa-check-circle hide"></i>
    <i class="allRetry signSwapRetry fa fa-check-circle grey"></i>
  </div>
  <div class="follow-step-content">
    <h4><%= t('collections.show.signature')%></h4>
    <p class="para-color"><%= t('collections.show.swap_a_signature')%></p>
  </div>
  <div class="follow-step-button">
    <a href="javascript:void(0)" class="allStart signSwapStart disabledLink grey"><%= t('shared.start')%></a>
    <a href="javascript:void(0)" class="allProgress signSwapProgress disabledLink hide"><%= t('shared.in_progress')%></a>
    <a href="javascript:void(0)" class="allDone signSwapDone hide"><%= t('shared.done')%></a>
    <a href="javascript:void(0)" class="allRetry signSwapRetry hide"><%= t('shared.try_again')%></a>
  </div>
</div>