<div class="asset-card">
  <%= render 'feed/asset_pro_details', collection:collection %>
  <div class="promote-feed">
    <a href="<%= collection_path(collection.address)%>" target="_blank">
      <div class="assets_section">
        <object data="<%= url_for(collection.attachment)%>" type="application/pdf" class="img-responsive">
        </object>
      </div>
    </a>
  </div>
  <%= render 'feed/asset_detail', collection:collection %>
  <%= render 'feed/asset_footer', collection:collection %>
</div>