<main class="main m_home">

  <%= render "common/home_header"%>
  <%= render "common/explore_carousel"%>
  <%= render "common/info_section"%>
  <%= render "common/featured_carousel"%>
  <%= render "common/category_list"%>
  <%= render 'common/edition_drops' %>
  <%= render 'common/reserve_drops' %>
  <%#= render "common/partner_auditor"%>

</main>